<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="__CSS__/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/datetimepicker_blue.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/dropdown.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <title>小蜜数据统计</title>
    <style type="text/css">
        .search{width:1198px;margin:0 auto;padding:30px 0;background-color:#bef3e8;}
        .form-group .label-title{width:100px;font-weight:normal;}
        .btn-primary{background-color:#00af8b;border-color:#00af8b;}
        .btn-primary:focus,.btn-primary:hover,.btn-primary:active{background-color:#00af8b;border-color:#00af8b;}
        .btn,.form-control{border:none;}
        .table-title{padding:30px 0;background-color:#bef3e8;}
        .table-title th{text-align:center;font-size:16px;font-weight:500;}
    </style>
</head>
<body>
<div>
    <input type="hidden" id="current_date" value="{$today|date='Y-m-d',###}"/>
    <form class="form-inline" style="background-color:#bef3e8;">
        <div class="search">
            <div class="form-group">
                <label for="startDate" class="label-title">开始日期</label>
                <input type="text"  id="startDate" name="startDate" value="{$today|date='Y-m-d',###}" placeholder="选择开始日期"  class='time form-control'>
            </div>
            <div class="form-group">
                <label for="endDate" class="label-title" style="margin-left:30px;">截止日期</label>
                <input type="text"  id="endDate" name="endDate" value="{$end|date='Y-m-d',###}" placeholder="选择截止日期" class='time form-control'>
            </div>
            <button type="button" class="btn btn-default" id="btnToday" style="margin-left:20px;">今天</button>
            <button type="button" class="btn btn-default" id="btnYesterday">昨天</button>
            <button type="button" class="btn btn-default" id="btnWeek">本周</button>
            <button type="button" class="btn btn-default" id="btnMonth">本月</button>
            <br/><br/>
            <div class="form-group">
                <label class="label-title">城市</label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cityAll" value="0" checked="checked">全部
                </label>
                <foreach name="cityArray" item="vo" >
                    <label class="checkbox-inline">
                        <input type="checkbox" name="cityList" value="{$vo.id}">{$vo.name}
                    </label>
                </foreach>
            </div>
            <br/><br/>
            <div class="form-group">
                <label class="label-title">运营模式</label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="patternList" id="patternAll" value="0" checked="checked">全部
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="patternList" value="1">原点还
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="patternList" value="2">网点还
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="patternList" value="4">自由还
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="patternList" value="32">区域还
                </label>
            </div>
            <div class="form-group">
                <label class="label-title"></label>
                <button type="button" class="btn btn-primary" id="btnSearch" style="width:100px;background-color:#00af8">查询 </button>
            </div>
        </div>
    </form>
    <table class="table table-bordered" style="text-align:center;width:1198px;margin:30px auto;">
        <tr class="table-title">
            <th colspan="11">运营数据</th>
        </tr>
        <tr>
            <td rowspan="4" style="width:40px;text-align:center;vertical-align:middle;">订单详情</td>
            <td title="所有订单数">预约次数</td>
            <td title="成功扫码用车被使用的次数">使用次数</td>
            <td colspan="3">还车次数</td>
            <td colspan="4">支付次数</td>
            <td>取消预约</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align:middle;font-weight:bold;" title="所有订单数"><span id="order_num"></span></td>
            <td rowspan="3" style="vertical-align:middle;">
                <span id="use_num" style="font-weight:bold;" title="成功扫码用车被使用的次数">次</span><br/>
                日车均订单数<br/><span id="average_daily_order" title="日均每辆车（出租中和待租）贡献的订单数，使用次数/运营车辆">0</span>单/车
            </td>
            <td rowspan="3" colspan="2" style="vertical-align:middle;" title="在围栏内部还车的次数">栏内还车<br/><span id="column_num"></span></td>
            <td rowspan="3" style="vertical-align:middle;" title="在围栏外部还车的次数">栏外还车<br/><span id="column_outside_num"></span></td>
            <td colspan="4" style="vertical-align:middle;"><span id="pay_num" title="还车后支付订单的次数"></span>次</td>
            <td rowspan="3" style="vertical-align:middle;"><span id="cancel_num"></span>次</td>
        </tr>
        <tr>
            <!--<td rowspan="2" style="vertical-align:middle;">网点内还车<br/><span id="point_num"></span></td>-->
            <!--<td rowspan="2" style="vertical-align:middle;">网点外还车<br/><span id="point_outside_num"></span></td>-->
            <td>微信支付</td>
            <td>宝币支付</td>
            <td rowspan="2" style="vertical-align:middle;" title="租金/日均出租车辆">
                日贡献值(出租)<br/><span id="sellCountValue"></span>
            </td>
            <td rowspan="2" style="vertical-align:middle;" title="租金/日均运营车辆">
                日贡献值(运营)<br/><span id="operate_value_daily"></span>
            </td>
        </tr>
        <tr>
            <td>次数：<span id="wx_num"></span><br/>金额：<span id="wx_amount"></span>元</td>
            <td>次数：<span id="bb_num"></span><br/>金额：<span id="bb_amount"></span>元</td>
        </tr>
        <tr>
            <td style="height:150px;text-align:center;vertical-align:middle;">骑行情况</td>
            <td colspan="2" style="vertical-align:middle;font-weight:bold;">总里程<br/><span id="all_mile"></span>km</td>
            <td colspan="3" style="vertical-align:middle;font-weight:bold;">平均里程<br/><span id="average_mileage"></span>km</td>
            <td colspan="2" style="vertical-align:middle;font-weight:bold;">总时间<br/><span id="all_time"></span></td>
            <td colspan="3" style="vertical-align:middle;font-weight:bold;">平均时间<br/><span id="average_time"></span></td>
        </tr>
    </table>
    <table class="table table-bordered" style="text-align:center;width:1198px;margin:0 auto;">
        <tr class="table-title">
            <th colspan="4" class="user_title">用户行为</th>
        </tr>
        <tr>
            <td>注册情况</td>
            <td>下单方式</td>
            <td>锁车情况</td>
            <td class="active_users">活跃用户</td>
        </tr>
        <tr>

            <td style="vertical-align:middle;">
                注册：<span id="register_count" title="第一次成功验证手机号的用户数"></span><br>
                实名认证：<span id="validate_count" title="第一次实名验证成功的用户数"></span><br>
                押金缴纳：<span id="pay_deposit_count" title="第一次成功缴纳押金的用户数"></span><br>
                押金退款：<span id="deposit_return_count" title="申请押金退款的用户数"></span><br>
            </td>
            <td style="vertical-align:middle;" title="暂时无法区分预约和扫码下单">预约和扫码下单：<span class="order_num"></span></td>
            <td style="vertical-align:middle;">
                临时锁车次数：<span id="lock_count"></span><br/>
                临时锁车人数：<span id="lock_user_count"></span><br/>
            </td>
            <td class="active_users" style="vertical-align:middle;">
                周活跃：<span id="active_week" title="当前时间的前七天中（不包括当天），有过两次及以上订单的用户的数量">0</span><br/>
                月活跃：<span id="active_month" title="当前时间的前三十天中（不包括当天），有过两次及以上订单的用户的数量">0</span><br/>
            </td>
        </tr>
    </table>
    <table class="table table-bordered car_status" style="text-align:center;width:1198px;margin:30px auto;">
        <tr class="table-title">
            <th colspan="3">车辆情况</th>
        </tr>
        <tr>
            <td title="出租中和待租的车辆数">运营中：<span id="inOperation"></span></td>
            <td colspan="2" title="下架和停租的车辆数">未运营:<span id="notOperation"></span></td>
        </tr>
        <tr>
            <td rowspan="2" style="vertical-align:middle;">
                待租：<span id="forRent"></span><br/>
                出租中：<span id="sellCount"></span><br/>
            </td>
            <td style="vertical-align:middle;">下架：<span id="beOffline"></span></td>
            <td style="vertical-align:middle;">停租：<span id="allStop"></span></td>
        </tr>
        <tr>
            <td style="vertical-align:middle;">
                越界：<span id="overBoundaryDown"></span><br/>
                馈电：<span id="feedBattery"></span><br/>
                离线：<span id="offlineDown"></span><br/>
                收回下架：<span id="returnCount"></span>
            </td>
            <td style="vertical-align:middle;">
                人工停租：<span id="stopHire"></span><br/>
                维修：<span id="maintain"></span><br/>
            </td>
        </tr>
    </table>
    <table class="table table-bordered car_status" style="text-align:center;width:1198px;margin:0 auto;display:none;">
        <tr class="table-title">
            <th colspan="7">警告</th>
        </tr>
        <tr>
            <td>断电：<span id="offBattery"></span></td>
            <td>低电量：<span id="lowBattery"></span></td>
            <td>无电：<span id="noBattery"></span></td>
            <td>两日无单：<span id="noOrder"></span></td>
            <td>有单无程：<span id="trouble"></span></td>
            <td>最新离线：<span id="latestOffline"></span></td>
            <td>高危离线：<span id="dayOffline"></span></td>
        </tr>
    </table>
    <table class="table table-bordered" style="text-align:center;width:1198px;margin:30px auto;">
        <tr class="table-title">
            <th colspan="3">其他</th>
        </tr>
        <tr>
            <td title="日均已租车辆/日均运营车辆">出租率(运营)：<span id="rentalRate"></span></td>
            <!--<td>iOS下载量：2088</td><td>安卓下载量：2088</td>-->
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    var carInfo =[],income=0,city =0,pattern =0,selectedCity="",selectedPattern="",dd=1,rent_car_count=0;
    $(function(){
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            startView:'month',
            minView:'month',
            todayBtn:true,
            minuteStep:30,
            autoclose:true
        });
        $("#btnSearch").on("click",function(){
            loadData();
        });
        $("#startDate,#endDate").on("click",function () {
            $(this).parent().removeClass("has-error");
        });
        $("#cityAll").click(function(){
            if($("#cityAll").is(":checked")){
                city=0;
                $("[name=cityList]:checkbox").prop("checked", true);
            }else{
                city="";
                $("[name=cityList]:checkbox").removeAttr("checked");
            }
        });
        $("[name=cityList]:checkbox").click(function(){
            var flag=true;
            selectedCity="";
            $("[name=cityList]:checkbox").each(function(){
                if(!this.checked&&$(this).attr("id")!="cityAll"){
                    flag=false;
                }
            });
            if(flag) {
                $("#cityAll").prop("checked", true);
            }else{
                $("#cityAll").removeAttr("checked");
            }
            $("[name=cityList]:checkbox:checked").each(function(){
                selectedCity+=$(this).val()+",";
            });
            if(selectedCity.length>0){
                selectedCity=selectedCity.substr(0,selectedCity.length-1);
            }
            if(flag){
                city=0
            }else {
                city = selectedCity;
            }
        });
        $("#patternAll").click(function(){
            if($("#patternAll").is(":checked")){
                pattern=0;
                $("[name=patternList]:checkbox").prop("checked", true);
            }else{
                pattern="";
                $("[name=patternList]:checkbox").removeAttr("checked");
            }
        });
        $("[name=patternList]:checkbox").click(function(){
            var flag=true;
            selectedPattern="";
            $("[name=patternList]:checkbox").each(function(){
                if(!this.checked&&$(this).attr("id")!="patternAll"){
                    flag=false;
                }
            });
            if(flag) {
                $("#patternAll").prop("checked", true);
            }else{
                $("#patternAll").removeAttr("checked");
            }
            $("[name=patternList]:checkbox:checked").each(function(){
                selectedPattern+=$(this).val()+",";
            });
            if(selectedPattern.length>0){
                selectedPattern=selectedPattern.substr(0,selectedPattern.length-1);
            }
            if(flag){
                pattern=0
            }else {
                pattern = selectedPattern;
            }
        });
        loadData();
        $("#btnToday,#btnYesterday,#btnWeek,#btnMonth").click(function(){
            if($(this).attr("id")=="btnToday"){
                $("#startDate").val($("#current_date").val());
                $("#endDate").val($("#current_date").val());
            }
            if($(this).attr("id")=="btnYesterday"){
                $("#startDate").val(GetDateString(-1));
                $("#endDate").val(GetDateString(-1));
            }
            if($(this).attr("id")=="btnWeek"){
                $("#startDate").val(GetWeekFirstDay());
                $("#endDate").val(GetWeekLastDay());
            }
            if($(this).attr("id")=="btnMonth"){
                $("#startDate").val(GetMonthFirstDay());
                $("#endDate").val(GetMonthLastDay());
            }
            loadData();
        });
    });
    function loadData() {
        $(".car_status").hide();
        var currentDate = $("#current_date").val();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        if (!startDate) {
            $("#startDate").parent().addClass("has-error");
            return false;
        }
        if (!endDate) {
            $("#endDate").parent().addClass("has-error");
            return false;
        }
        if(!city){
            city=0;
            if(city.length==0) {
                layer.msg('请选择城市');
                return false;
            }
        }
        if(!pattern){
            pattern=0;
            if(pattern.length==0) {
                layer.msg('请选择运营模式');
                return false;
            }
        }
        layer.load();
        var postData={
            startDate: startDate,
            endDate: endDate,
            city: city,
            pattern: pattern
        };
        dd=GetDateRegion(startDate,endDate);
        $("#active_week,#active_month").html(0);
        $("#average_daily_order,#operate_value_daily").empty();
        $.post("{:U('/Statistics/Index/loadData')}",postData, function (data) {
            layer.closeAll('loading');
            if (data.status == 1) {
                $("#register_count").html(data.user.register_count);
                $("#validate_count").html(data.user.validate_count);
                $("#pay_deposit_count").html(data.user.pay_deposit_count);
                $("#deposit_return_count").html(data.user.deposit_return_count);
                // $("#lock_count").html(data.user.lock_count);
                $("#lock_count").html(data.user.lock_count-data.user.lock_user_count);
                $("#lock_user_count").html(data.user.lock_user_count);
                $("#active_week").html(data.user.week_active);
                $("#active_month").html(data.user.month_active);
                var orderCount=data.order.order_num;
                var useCount=data.order.use_num;
                $("#order_num,.order_num").html(data.order.order_num+"次");
                $("#use_num").html(data.order.use_num+"次");
                $("#return_car_num").html(data.order.return_car_num);
                $("#pay_num").html(data.order.pay_num);
                $("#cancel_num").html(data.order.cancel_num);
                $("#column_num").html(data.order_pay.column_num);
                $("#column_outside_num").html(data.order_pay.column_outside_num);
                $("#point_num").html(data.order_pay.point_num);
                $("#point_outside_num").html(data.order_pay.point_outside_num);
                $("#wx_num").html(data.order_pay.wx_num);
                $("#wx_amount").html(data.order_pay.wx_amount);
                $("#bb_num").html(data.order_pay.bb_num);
                $("#bb_amount").html(data.order_pay.bb_amount);
                income = (parseFloat(data.order_pay.wx_amount) + parseFloat(data.order_pay.bb_amount)).toFixed(2);
                $("#all_mile").html(data.travel.all_mile);
                $("#all_time").html(data.travel.all_time);
                $("#average_mileage").html(data.travel.average_mileage);
                $("#average_time").html(data.travel.average_time);
                $("#sellCountValue").empty();
                var cars = new Array();
                $(".btn").attr("disabled","disabled");
                $("input[type=checkbox]").attr("disabled","disabled");
                if((currentDate == startDate && currentDate == GetMonthFirstDay())||(currentDate == startDate && currentDate == GetWeekFirstDay())){
                    postData.endDate=startDate;
                    endDate=startDate;
                    dd=1;
                }
                else{
                    var strDateRegion=GetDateRegion(currentDate,endDate);
                    if(strDateRegion>1) {
                        dd=GetDateRegion(startDate,currentDate)-1;
                    }
                }
                console.log("最终实际天数："+dd);
                if (currentDate == startDate && currentDate == endDate) {
                    $(".user_title").attr("colspan",4);
                    $(".active_users").show();
                    /*$.post("{:U('/Statistics/Index/loadActiveUser')}", postData, function (data) {
                        if (data.status == 1) {
                            if (data.week_active_count && data.week_active_count.length > 0) {
                                $("#active_week").html(data.week_active_count);
                            }
                            if (data.month_active_count && data.month_active_count.length > 0) {
                                $("#active_month").html(data.month_active_count);
                            }
                        }
                    });*/
                    $.post("{:U('/Statistics/Index/loadCarData')}", postData, function (data) {
                        $(".car_status span").empty();
                        $(".car_status").show();
                        if (data.status == 1) {
                            if (data.car_status && data.car_status.length > 0) {
                                carInfo.inOperation = 0;      //运营中 出租中和待租的车辆数
                                carInfo.forRent = 0;          //待租
                                carInfo.sellCount = 0;        //出租中
                                carInfo.notOperation = 0;     //未运营的车辆 下架和停租的车辆数
                                carInfo.overBoundaryDown = 0; //越界 在围栏外的车的数量
                                carInfo.offlineDown = 0;      //离线 离线的车的数量
                                carInfo.allStop =0;           //所有停租 维修+停租
                                carInfo.stopHire = 0;         //人工停租
                                carInfo.maintain =0;           //维修
                                carInfo.beOffline = 0;        //下架
                                carInfo.badCount = 0;
                                carInfo.feedBattery = 0;      //馈电
                                carInfo.operation = 0;
                                carInfo.returnCount = 0;      //收回下架
                                carInfo.allCount = 0;
                                carInfo.allOnlineCount = 0;   //上线车辆 除停租以外的运营车辆
                                carInfo.fullBattery = 0;      //满电
                                cars = new Array();
                                $.each(data.car_status, function (i, item) {
                                    cars.push(item.car_item_id);
                                    carInfo.operation += 1;
                                    if (item.status==2&&item.sell_status==-10&&item.car_info_id!=30150) { //收回下架
                                        carInfo.returnCount += 1;
                                    }

                                    if (item.status!= 2 && item.sell_status != 0&&item.car_info_id!=30150) {
                                        carInfo.badCount += 1;
                                    }
                                    if (item.status == 2 && item.sell_status == 0&&item.car_info_id!=30150) { //人工停租
                                        carInfo.stopHire += 1;
                                    }

                                    if (item.status == 2 && item.sell_status != 1 && item.sell_status != 0&&item.car_info_id!=30150) { //下架
                                        carInfo.beOffline += 1;
                                    }
                                    if (item.is_sell&&item.status==2&&item.sell_status==1&&item.sell_status!=0&&item.car_info_id!=30150) { //正在出租中
                                        carInfo.sellCount += 1;
                                    }
                                    if (item.is_sell!=1&&item.status == 2 && item.sell_status == 1 && item.sell_status != 0&&item.car_info_id!=30150) { //待租
                                        carInfo.forRent += 1;
                                    }
                                    if (item.status == 2 && item.sell_status != 0&&item.car_info_id!=30150) { //上线车辆 除停租以外的运营车辆
                                        carInfo.allOnlineCount += 1;
                                    }
                                    if (item.status == 2 && item.sell_status == -7 && item.sell_status != 0&&item.car_info_id!=30150) { //越界下架
                                        carInfo.overBoundaryDown += 1;
                                    }
                                    if (item.status == 2 && item.sell_status == -100 && item.sell_status != 0&&item.car_info_id!=30150) { //离线下架

                                        carInfo.offlineDown += 1;
                                    }
                                    if (item.status == 2 &&item.sell_status == -1&& item.sell_status != 0&&item.car_info_id!=30150) { //馈电
                                        carInfo.feedBattery += 1;
                                    }
                                    carInfo.allCount += 1;
                                });
                                carInfo.inOperation= carInfo.forRent+carInfo.sellCount;     //运营中 出租中和待租的车辆数
                                carInfo.notOperation=carInfo.stopHire+ carInfo.beOffline;   //未运营的车辆 下架和停租的车辆数
                                //orderCount useCount
                                if(carInfo.inOperation>0&&useCount>0) {
                                    $("#average_daily_order").html((useCount / carInfo.inOperation).toFixed(2));
                                }
                                $("#forRent").html(carInfo.forRent);
                                $("#sellCount").html(carInfo.sellCount);
                                $("#inOperation").html(carInfo.inOperation);
                                $("#overBoundaryDown").html(carInfo.overBoundaryDown);
                                $("#offlineDown").html(carInfo.offlineDown);
                                $("#stopHire").html(carInfo.stopHire);
                                $("#feedBattery").html(carInfo.feedBattery);
                                $("#returnCount").html(carInfo.returnCount);
                                $("#beOffline").html(carInfo.beOffline);

                                $.post("{:U('/Statistics/Index/loadRentCarCount')}",postData, function (data){
                                    if (data.status == 1){
                                        rent_car_count=0;
                                        if (data.rent_car_count && data.rent_car_count.length > 0) {
                                            rent_car_count = data.rent_car_count;
                                        }
                                        if(income >0&&rent_car_count>0) {
                                            $("#sellCountValue").html(((income/dd) /(rent_car_count/dd)).toFixed(2));//.attr("title",income+"/"+rent_car_count+"/"+dd);
                                        }else{
                                            $("#sellCountValue").html("0");
                                        }
                                        if(carInfo.inOperation>0&&rent_car_count>0) {
                                            $("#rentalRate").html(((rent_car_count/dd)/(carInfo.inOperation/dd)).toFixed(2));
                                        }else{
                                            $("#rentalRate").html("0");
                                        }
                                    }
                                });

                                if(income >0){
                                    if(carInfo.inOperation>0) {
                                        $("#operate_value_daily").html(( income / carInfo.inOperation).toFixed(2));
                                    }
                                }
                                $.post("{:U('/Statistics/Index/loadCarOrderData')}",postData, function (data) {
                                    $(".car_status").show();
                                    if (data.status == 1) {
                                        if (data.car_order && data.car_order.length > 0) {
                                            carInfo.noOrder = 0;          //两日无单
                                            carInfo.trouble = 0;          //有单无程
                                            $.each(data.car_order, function (i, item) {
                                                if(item.status==2&&item.ordercount>0&&item.mile==0&&item.sell_status==1&&item.car_info_id!=30150){ //有单无程
                                                    carInfo.trouble+=1;
                                                }
                                                if(item.sell_status==1&&item.status==2&&item.ordercount==0&&item.car_info_id!=30150&&item.sell_status!=0&&item.is_sell!=1){
                                                    carInfo.noOrder+=1;//两日无单
                                                }
                                            });
                                            $("#trouble").html(carInfo.trouble);
                                            $("#noOrder").html(carInfo.noOrder);
                                        }else{
                                            $("#trouble").html("0");
                                            $("#noOrder").html("0");
                                        }
                                    }
                                });
                                postData.cars=cars.join(',');
                                if(postData.cars.length>0) {
                                    $.post("{:U('/Statistics/Index/loadCarOnlineData')}", postData, function (data) {
                                        $(".car_status").show();
                                        $(".btn").removeAttr("disabled");
                                        $("input[type=checkbox]").removeAttr("disabled");
                                        if (data.status == 1) {
                                            if (data.car_online && data.car_online.length > 0) {
                                                carInfo.lowBattery = 0;       //低电 电量>20%
                                                carInfo.offBattery = 0;       //断电
                                                carInfo.noBattery = 0;        //无电
                                                carInfo.onLine = 0;           //在线
                                                carInfo.latestOffline = 0;    //最近离线
                                                carInfo.latestOffline10 = 0;  //最近10分钟离线
                                                carInfo.latestOffline12 = 0;  //最近15分钟离线
                                                carInfo.latestOffline15 = 0;  //最近10分钟离线
                                                carInfo.dayOffline = 0;       //高危离线
                                                $.each(data.car_online, function (i, item) {
                                                    if (isNaN(item.residual_battery) || item.residual_battery > -1 && item.residual_battery < 20 && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //电量小于20%
                                                        carInfo.lowBattery += 1;
                                                    }
                                                    //if(battery<=0&&data[i].car_info_id!=30150&&data[i].sell_status!=-10&&data[i].sell_status!=0){
                                                    //if( isNaN(battery) || battery<=0&&data[i].car_info_id!=30150&&data[i].sell_status!=-10&&data[i].sell_status!=0){
                                                    if (item.residual_battery <= 0 && item.sell_status != -10&&item.sell_status != 0&&item.car_info_id != 30150) { //无电量
                                                        carInfo.offBattery += 1;  //断电
                                                        carInfo.noBattery += 1;   //无电
                                                    }
                                                    if (item.residual_battery == 100 && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) {
                                                        carInfo.fullBattery += 1;   //满电
                                                    }
                                                    if (item.lastonline != null && item.lastonline.length > 0) {
                                                        var now = Math.round(new Date().getTime() / 1000);     //超过20分钟无信号
                                                        var onlineTime = parseInt(item.lastonline);
                                                        if ((now - onlineTime) < (20 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) {
                                                            carInfo.onLine += 1;
                                                        }
                                                        if ((now - onlineTime) > (5 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //最近离线
                                                            carInfo.latestOffline5 += 1;
                                                        }
                                                        if ((now - onlineTime) > (10 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //最近离线
                                                            carInfo.latestOffline10 += 1;
                                                        }
                                                        if ((now - onlineTime) > (12 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //最近离线
                                                            carInfo.latestOffline12 += 1;
                                                        }
                                                        if ((now - onlineTime) > (15 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //最近离线
                                                            carInfo.latestOffline15 += 1;
                                                        }
                                                        if ((now - onlineTime) > (20 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //最近离线
                                                            carInfo.latestOffline += 1;
                                                        }
                                                        if ((now - onlineTime) > (24 * 60 * 60) && item.sell_status != -10 && item.sell_status != 0 && item.car_info_id != 30150) { //高危离线
                                                            carInfo.dayOffline += 1;
                                                        }
                                                    }
                                                });
                                                $("#lowBattery").html(carInfo.lowBattery);
                                                $("#offBattery").html(carInfo.offBattery);
                                                $("#noBattery").html(carInfo.noBattery);
                                                $("#latestOffline").html(carInfo.latestOffline);
                                                $("#dayOffline").html(carInfo.dayOffline);
                                            }
                                        }
                                    });
                                }
                                carInfo.maintain =data.maintain;         //维修
                                carInfo.allStop =parseInt(carInfo.stopHire)+parseInt(carInfo.maintain); //所有停租 维修+停租
                                carInfo.notOperation =parseInt(carInfo.notOperation)+parseInt(carInfo.maintain);
                                $("#notOperation").html(carInfo.notOperation);
                                $("#allStop").html(carInfo.allStop);
                                $("#maintain").html(carInfo.maintain);
                            }else{
                                $("#operate_value_daily,#rentalRate").empty();
                                $(".car_status span").empty();
                                $(".btn").removeAttr("disabled");
                                $("input[type=checkbox]").removeAttr("disabled");
                            }
                        } else {
                            $("#operate_value_daily,#rentalRate").empty();
                            $(".btn").removeAttr("disabled");
                            $("input[type=checkbox]").removeAttr("disabled");
                            layer.msg(data.info);
                        }
                    });
                }else{
                    $(".user_title").attr("colspan",3);
                    $(".active_users").hide();
                    $("#operate_value_daily,#average_daily_order,#rentalRate").empty().removeAttr("title");
                    $(".btn").removeAttr("disabled");
                    $("input[type=checkbox]").removeAttr("disabled");
                    var effectiveDate = new Date("2017-07-03").getTime();
                    var searchStartDate = new Date(startDate).getTime();
                    //大于或等于有效日期
                    if (searchStartDate >=effectiveDate) {
                        $.post("{:U('/Statistics/Index/loadOperationCarData')}",postData, function (data) {
                            if (data.status == 1) {
                                carInfo.inOperation = 0;

                                if (data.day_operation_car && data.day_operation_car.length > 0) {
                                    carInfo.inOperation = data.day_operation_car;
                                }
                                if (income > 0 && carInfo.inOperation > 0) {
                                    $("#operate_value_daily").html((( income / dd) / (carInfo.inOperation / dd)).toFixed(2));
                                }
                                //orderCount userCount
                                if (carInfo.inOperation > 0 && useCount > 0) {
                                    $("#average_daily_order").html((useCount / carInfo.inOperation).toFixed(2));
                                }
                                $.post("{:U('/Statistics/Index/loadRentCarCount')}", postData, function (data) {
                                    if (data.status == 1) {
                                        rent_car_count = 0;
                                        if (data.rent_car_count && data.rent_car_count.length > 0) {
                                            rent_car_count = data.rent_car_count;
                                        }
                                        if (carInfo.inOperation> 0 && rent_car_count>0) {
                                            $("#rentalRate").html(((rent_car_count / dd) / (carInfo.inOperation / dd)).toFixed(2));
                                        } else {
                                            $("#rentalRate").html("0");
                                        }
                                        if(income >0&&rent_car_count>0) {
                                            $("#sellCountValue").html(((income/dd) /(rent_car_count/dd)).toFixed(2));//.attr("title",income+"/"+rent_car_count+"/"+dd);
                                        }else{
                                            $("#sellCountValue").html("0");
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        $("#operate_value_daily,#average_daily_order,#rentalRate").html("<font style='color:red;'>?</font>").attr("title","由于之前的日运营车辆数据未做统计并保存，请选择2017年7月3日后的日期");
                        $.post("{:U('/Statistics/Index/loadRentCarCount')}", postData, function (data) {
                            if (data.status == 1) {
                                rent_car_count = 0;
                                if (data.rent_car_count && data.rent_car_count.length > 0) {
                                    rent_car_count = data.rent_car_count;
                                }
                                if(income >0&&rent_car_count>0) {
                                    $("#sellCountValue").html(((income/dd) /(rent_car_count/dd)).toFixed(2));//.attr("title",income+"/"+rent_car_count+"/"+dd);
                                }else{
                                    $("#sellCountValue").html("0");
                                }
                            }
                        });
                    }
                }
            }
            else {
                layer.msg(data.info);
            }
        });
    }
    function GetDateRegion(sDate1,sDate2)
    {
        var aDate, oDate1, oDate2, iDays;
        aDate = sDate1.split("-");
        oDate1 = new Date(aDate[1] + '/' + aDate[2] + '/' + aDate[0]);   //转换为12/13/2008格式
        aDate = sDate2.split("-");
        oDate2 = new Date(aDate[1] + '/' + aDate[2] + '/' + aDate[0]);
        //iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24)+1;   //把相差的毫秒数转换为天数
        var i=(oDate2 - oDate1) / 1000 / 60 / 60 /24;
        if(i<0)
        {
            i-=1;
        }
        else
        {
            i+=1;
        }
        iDays = i;   //把相差的毫秒数转换为天数
        return iDays;
    }
    function GetDateSevenAgo() {
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        today.setDate(today.getDate()-6);
        var y = today.getFullYear();
        var m = today.getMonth()+1;
        var d = today.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return y+"-"+m+"-"+d;
    }
    function GetDateMonthAgo() {
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        today.setDate(today.getDate()-29);
        var y = today.getFullYear();
        var m = today.getMonth()+1;
        var d = today.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return y+"-"+m+"-"+d;
    }
    function GetDateString(count) {
        //var today = new Date();
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        today.setDate(today.getDate()+count);
        var y = today.getFullYear();
        var m = today.getMonth()+1;
        var d = today.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return y+"-"+m+"-"+d;
    }
    function GetWeekFirstDay()
    {
        //var today=new Date();
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        var weekFirstDay=new Date(today-(today.getDay()-1)*86400000);
        var m=Number(weekFirstDay.getMonth())+1;
        var d=weekFirstDay.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return weekFirstDay.getFullYear()+"-"+m+"-"+d;
    }
    function GetWeekLastDay()
    {
        //var today=new Date();
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        var weekFirstDay=new Date(today-(today.getDay()-1)*86400000);
        var weekLastDay=new Date((weekFirstDay/1000+6*86400)*1000);
        var m=Number(weekLastDay.getMonth())+1;
        var d=weekLastDay.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return weekLastDay.getFullYear()+"-"+m+"-"+d;
    }
    function GetMonthFirstDay()
    {
        //var today=new Date();
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        var monthFirstDay=new Date(today.getFullYear(),today.getMonth(),1);
        var m=Number(monthFirstDay.getMonth())+1;
        var d=monthFirstDay.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return monthFirstDay.getFullYear()+"-"+m+"-"+d;
    }
    function GetMonthLastDay()
    {
        //var today=new Date();
        var today = $("#current_date").val().split("-");
        today = new Date(today[1] + '/' + today[2] + '/' + today[0]);
        var monthNextFirstDay=new Date(today.getFullYear(),today.getMonth()+1,1);
        var monthLastDay=new Date(monthNextFirstDay-86400000);
        var m=Number(monthLastDay.getMonth())+1;
        var d=monthLastDay.getDate();
        if (m<10)m = "0" + m;
        if (d<10)d = "0" + d;
        return monthLastDay.getFullYear()+"-"+m+"-"+d;
    }
</script>